div {
  
  border: 6px solid purple;
  background-color: pink;
}

p {
  border: purple 4px dotted;
  text-align: center; 
  padding: 8px 0px; 10px;
  margin: 30px 30px 50px 50px;
  background-color: white;
  }


 
   
 